
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?trp4z');
    src:    url('../fonts/icomoon.eot?trp4z#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?trp4z') format('truetype'),
        url('../fonts/icomoon.woff?trp4z') format('woff'),
        url('../fonts/icomoon.svg?trp4z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon'  ;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-scrolldown3:before {
    content: "\e900";
    font-size: 1.3em;
}

.header{
  position: relative;
  .container-fluid{
    padding: 0;
    margin: 0;
  }
  img{
    width: 100%;
  }


  .glyph-container{
    p{
      margin: 0;
      font-size: 1em;
    }
    transition: all 500ms;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover{
      transition: all 500ms;
      top: 92%;
    }
  }
}


nav{
    height: 2em;
    position: fixed;
    ul{
    text-align: center;
    padding: 0;
    text-decoration: none;
    li{
      margin: 0 20px;
      display: inline;
    }
  }
}